In [1]:
from pdfminer.pdfparser import PDFParser
from pdfminer.pdfdocument import PDFDocument
from pdfminer.pdfpage import PDFPage
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.pdfdevice import PDFDevice

In [2]:
# Open a PDF file.
pdf_file = open('./finance_data/pdf/2014', 'rb')
# Create a PDF parser object associated with the file object.
parser = PDFParser(pdf_file)
# Create a PDF document object that stores the document structure.
document = PDFDocument(parser, '')
# Create a PDF resource manager object that stores shared resources.
rsrcmgr = PDFResourceManager()

In [3]:
from pdfminer.layout import LAParams, LTTextBox, LTTextLine, LTTextBoxHorizontal, LTRect
from pdfminer.converter import PDFPageAggregator
from pdfminer.converter import TextConverter
import operator,re
import pandas as pd

# layout analysis

In [4]:
# Create a PDF page aggregator object.
device = PDFPageAggregator(rsrcmgr, laparams=LAParams()) 
interpreter = PDFPageInterpreter(rsrcmgr, device)
for page in PDFPage.get_pages(pdf_file,[9]):
    interpreter.process_page(page)
# receive the LTPage object for the page. 
    layout = device.get_result()

In [5]:
rawBoxAxis =[]
rawText = []
for obj in layout._objs:
    if isinstance(obj,LTRect):
        rawBoxAxis.append(obj.bbox)
    elif isinstance(obj,LTTextBoxHorizontal):
        text_content = obj.get_text()
        text_bang = text_content.strip()
        rawText.append([(int(round(obj.x0))+int(round(obj.x1)))/2,(int(round(obj.y0))+int(round(obj.y1)))/2,text_bang])

In [6]:
labels = ['x0', 'y0', 'x1', 'y1']
df = pd.DataFrame.from_records(rawBoxAxis, columns=labels)

In [7]:
df = df.drop_duplicates()

In [8]:
df.sort_values(['y1', 'x0'], ascending=[False, True]).reset_index(drop = True)

         x0     y0      x1     y1
0     50.00  660.0  178.12  706.0
1    178.12  691.0  453.49  706.0
2    453.49  660.0  499.25  706.0
3    499.24  660.0  545.00  706.0
4    178.12  660.0  224.29  691.0
5    224.29  660.0  270.46  691.0
6    270.46  660.0  316.22  691.0
7    316.22  660.0  361.98  691.0
8    361.97  660.0  407.73  691.0
9    407.73  660.0  453.49  691.0
10    50.00  645.0  178.12  660.0
11   178.12  645.0  224.29  660.0
12   224.29  645.0  270.46  660.0
13   270.46  645.0  316.22  660.0
14   316.22  645.0  361.98  660.0
15   361.97  645.0  407.73  660.0
16   407.73  645.0  453.49  660.0
17   453.49  645.0  499.25  660.0
18   499.24  645.0  545.00  660.0
19    50.00  630.0  178.12  645.0
20   178.12  630.0  224.29  645.0
21   224.29  630.0  270.46  645.0
22   270.46  630.0  316.22  645.0
23   316.22  630.0  361.98  645.0
24   361.97  630.0  407.73  645.0
25   407.73  630.0  453.49  645.0
26   453.49  630.0  499.25  645.0
27   499.24  630.0  545.00  645.0
28    50.00  615.0  178.12  630.0
29   178.12  615.0  224.29  630.0
..      ...    ...     ...    ...
313  407.73  134.0  453.49  149.0
314  453.49  134.0  499.25  149.0
315  499.24  134.0  545.00  149.0
316   50.00  119.0  178.12  134.0
317  178.12  119.0  224.29  134.0
318  224.29  119.0  270.46  134.0
319  270.46  119.0  316.22  134.0
320  316.22  119.0  361.98  134.0
321  361.97  119.0  407.73  134.0
322  407.73  119.0  453.49  134.0
323  453.49  119.0  499.25  134.0
324  499.24  119.0  545.00  134.0
325   50.00   88.0  178.12  119.0
326  178.12   88.0  224.29  119.0
327  224.29   88.0  270.46  119.0
328  270.46   88.0  316.22  119.0
329  316.22   88.0  361.98  119.0
330  361.97   88.0  407.73  119.0
331  407.73   88.0  453.49  119.0
332  453.49   88.0  499.25  119.0
333  499.24   88.0  545.00  119.0
334   50.00   73.0  178.12   88.0
335  178.12   73.0  224.29   88.0
336  224.29   73.0  270.46   88.0
337  270.46   73.0  316.22   88.0
338  316.22   73.0  361.98   88.0
339  361.97   73.0  407.73   88.0
340  407.73   73.0  453.49   88.0
341  453.49   73.0  499.25   88.0
342  499.24   73.0  545.00   88.0

[343 rows x 4 columns]

In [9]:
labels_text = ['text_x','text_y','txt']
dfText = pd.DataFrame.from_records(rawText,columns = labels_text)

In [10]:
dfText.sort_values(['text_y','text_x'], ascending=[False, True]).reset_index(drop = True)

     text_x  text_y                                  txt
0     207.5   780.5            연   결   자   본   변   동   표
1     297.5   750.0  제48기  2015년 1월 1일부터 2015년 12월 31일까지
2     297.5   734.0  제47기  2014년 1월 1일부터 2014년 12월 31일까지
3     519.5   718.5                           (단위 : 백만원)
4     114.5   718.0                    현대자동차주식회사와 그 종속기업
5     315.5   698.5                           지배기업 소유주지분
6     114.0   683.5                              과     목
7     293.5   683.5                                기타자본항
8     339.0   683.5                                 기타포괄
9     476.5   683.5                                비지배지분
10    522.5   683.5                                총   계
11    201.0   675.5                                자 본 금
12    247.5   675.5                                자본잉여금
13    384.5   675.5                                이익잉여금
14    431.0   675.5                                   소계
15    293.5   667.5                                    목
16    339.5   667.5                                손익누계액
17     68.5   652.5                           2014. 1. 1
18    206.0   652.5                            1,488,993
19    275.0   652.5                4,130,668 (1,128,779)
20    344.0   652.5                            (834,036)
21    387.5   652.5                           48,274,239
22    433.0   652.5                           51,931,085
23    480.5   652.5                            4,651,704
24    524.5   652.5                           56,582,789
25     70.5   637.5                               총포괄이익:
26     76.5   622.5                              연결당기순이익
27    218.5   622.5
28    264.5   622.5
29    310.5   622.5
..      ...     ...                                  ...
221   435.5   141.5                            (314,945)
222   493.5   141.5
223   527.0   141.5                            (314,945)
224    69.5   126.5                                기타변동분
225   264.0   126.5                                   45
226   310.5   126.5
227   356.5   126.5
228   397.0   126.5                                (668)
229   442.5   126.5                                (623)
230   488.5   126.5                                (829)
231   531.0   126.5                              (1,452)
232   114.0   111.5                자본에 직접 반영된 소유주와의 거래 소
233   252.5   103.5                            (614,155)
234   298.5   103.5                            (314,945)
235   387.0   103.5                          (1,086,651)
236   432.0   103.5                          (2,015,751)
237   481.5   103.5                            (223,597)
238   524.0   103.5                          (2,239,348)
239    55.5    95.5                                    계
240    70.5    80.5                           2015.12.31
241   206.0    80.5                            1,488,993
242   275.0    80.5                3,520,395 (1,588,697)
243   341.0    80.5                          (1,431,821)
244   387.5    80.5                           60,035,088
245   433.0    80.5                           62,023,958
246   480.5    80.5                            4,857,443
247   524.5    80.5                           66,881,401
248   297.5    59.5                             별첨 주석 참조
249   111.0    23.5               전자공시시스템 dart.fss.or.kr
250   525.0    23.5                               Page 9

[251 rows x 3 columns]

In [11]:
def whrAmI(x0,y0,x1,y1,textDfIn,textSrx0,textSry0) :
    xRng = textSrx0.between(x0,x1,inclusive = True)
    yRng = textSry0.between(y0,y1,inclusive = True)
    if textDfIn[xRng & yRng].empty :
        result = 'NULL'
    else :
        extTxtDf = textDfIn[xRng & yRng]
        result = extTxtDf.iloc[0,2]
    return result

In [12]:
df['Contents'] = df.apply(lambda x : whrAmI(x['x0'],x['y0'],x['x1'],x['y1'],dfText,dfText['text_x'],dfText['text_y']),axis = 1)

In [13]:
df.head(20)

        x0     y0      x1     y1               Contents
0    50.00  660.0  178.12  706.0                과     목
1   178.12  691.0  453.49  706.0             지배기업 소유주지분
2   453.49  660.0  499.25  706.0                  비지배지분
3   499.24  660.0  545.00  706.0                  총   계
4   178.12  660.0  224.29  691.0                  자 본 금
5   224.29  660.0  270.46  691.0                  자본잉여금
6   270.46  660.0  316.22  691.0                  기타자본항
7   316.22  660.0  361.98  691.0                   기타포괄
8   361.97  660.0  407.73  691.0                  이익잉여금
9   407.73  660.0  453.49  691.0                     소계
20   50.00  645.0  178.12  660.0             2014. 1. 1
21  178.12  645.0  224.29  660.0              1,488,993
22  224.29  645.0  270.46  660.0                   NULL
23  270.46  645.0  316.22  660.0  4,130,668 (1,128,779)
24  316.22  645.0  361.98  660.0              (834,036)
25  361.97  645.0  407.73  660.0             48,274,239
26  407.73  645.0  453.49  660.0             51,931,085
27  453.49  645.0  499.25  660.0              4,651,704
28  499.24  645.0  545.00  660.0             56,582,789
29   50.00  630.0  178.12  645.0                 총포괄이익:

# Sessionization

In [ ]:
df['prv_y1'] = df['y1'].shift(1)
# df.columns = ['x0','y0','x1','y1','a','b','prv_y1']

In [ ]:
df['new_session'] = (df['y1']-df['prv_y1'] < 0).astype(int)

In [ ]:
df.head(10)

In [ ]:
df['session_id'] = df['new_session'].cumsum()

In [ ]:
df.reset_index(drop = True)

In [ ]:
df.head(20)

In [ ]:
df.iloc[0,1]

In [ ]:
dfText['text_x']